body {
    font-family: “Playfair Display”, “Didot”, "Times New Roman", Times, serif;
    text-align: center;
    color: #1d1613;

    background-color: #dbd0bf;
}

a {
    color: #1d1613;
    text-decoration: none;
}

a:hover {
    color: rgb(68, 68, 68);
}

nav.navbar {
    background-color: #ebebeb;
    animation: navBarColor1 1s ease;
}

nav.navbar:hover {
    background-color: #dbd0bf;
    animation: navBarColor 1s ease;
}

@keyframes navBarColor {
    from {
        background-color: #ebebeb;
    }

    to {
        background-color: #dbd0bf;
        ;
    }
}

@keyframes navBarColor1 {
    from {
        background-color: #dbd0bf;
    }

    to {
        background-color: #ebebeb;
    }
}

nav img {
    width: 50px;
    transition: width 0.5s ease;
    margin-right: 10px;
}

img#main {
    width: 25vw;
    float: left;
    padding: 35px;
    margin-left: 90px;
    transition: width 0.5s ease;
}

img:hover#main {
    width: 32.4vw;
}

nav.navbar img:hover {
    width: 75px;
}

span {
    line-height: normal;
    font-size: 36pt
}

div#mainContent {
    display: grid;
    justify-items: center;
    margin-top: 50px;
}

h2 {
    text-align: center;
    font-size: 50px;
}

div#header {

    padding: 25px;

    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    height: 80%;
    width: 100%;

    background-color: rgb(219 208 191);

}

#content {
    width: 1400px;
}

#contentBottom {
    padding: 20px;
}

img#extraImg {
    width: 25vw;
    align-content: center;
    padding: 35px;
    transition: width 0.5s ease;

}

img:hover#extraImg {
    width: 32.4vw;

}

#contentBottom p {
    padding-right: 30px;
    margin-right: 40px;
    padding-top: 90px;
    flex: auto;

}

div#header div#welcomeText {
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    float: right;
    width: 47vw;
    transition: width 0.5s ease;
    position: relative;
    padding-top: 45px;

}

div#header div#welcomeText h1 {

    width: 100%;
}

div#header div#welcomeText p {
    text-align: center;
}

div#header div#imageHolder {
    width: 45vw;
    height: 45vw;
    padding-top: 35px;
    transition: width 0.5s ease;
    display: inline-flex;
    justify-content: start;

    overflow: hidden;

    position: relative;
}

div#header div#imageHolder:hover {
    width: 60vw;
}

#imageHolder:hover ~ #welcomeText {
    width: 35vw;
}


#extraImg {
    width: 25vw;
    float: right;
    padding: 20px;
    margin-left: 25px;
    transition: width 0.5s ease;
}

div#footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100vw;
    height: max-content;
    justify-content: space-evenly;
    background-color: rgb(235, 235, 235)
}
